.header {
    text-align: center;
    text-decoration: underline;
    color: black;
}
.nav {
    text-align: center;
    padding: 25px 0px;
}
.links {
    padding: 10px 70px;
    text-decoration: none;
    color: white;
}
.links:hover {
    color: black;
    font-weight: 900;
}
h2 {
    padding-left: 105px;
}
h3 {
    padding-left: 130px;
    padding-top: 15px;
}
.texto {
    display: inline-block;
    width: 45%;
    padding-left: 50px;
}
.imagem {
    float: right;
    padding-right: 25%;
}
.aside {
    padding: 30px 100px;
}
h4 {
    padding-left: 125px;
    padding-top: 25px;
}
div a {
    padding-left: 100px;
    color: white;
}
footer {
    padding-top: 15px;
    padding-left: 20px;
    font-weight: 900;
}
body {
    background-color: rgb(102, 102, 153);
}
li a {
    text-decoration: none;
    line-height: 35px;
    color: white;
}
li:hover a {
    color: crimson;
    font-weight: 600;
}
ul {
    color: white;
}
