.header {
    text-align: center;
    color: chartreuse;
}
.nav {
    text-align: center;
    padding: 25px 0px;
}
.links {
    padding: 10px 70px;
    text-decoration: none;
}
.links:hover {
    color: black;
    font-weight: 900;
}
h2 {
    padding-left: 105px;
}
h3 {
    padding-left: 150px;
}
.texto {
    display: inline-block;
    width: 45%;
    padding-left: 50px;
}
.imagem {
    float: right;
    padding-right: 25%;
}
.aside {
    padding: 50px 100px;
}
