    h1{
    font-size: 65px; color: orange;
    }
    #lista{
        background-color: rgb(240, 228, 239);
    }
    .combofundo{
        background-color: rgb(14, 53, 136);
    }
    h1{
        font-family: sans-serif;
    }
    p{
        font-weight: 600;
        font-size: 3em;
    }
    body{
        font-size: 16px;
    }
    #lista{
        font-style: oblique;
        line-height: 25px;
        text-align: right;
        text-decoration: underline;
    }
    #amarelo{
        background-color: yellow;
    }
    #vermelho{
        background-color: red;
    }
    #marrom{
        background-color: brown;
    }